/* .logo {
  cursor: pointer;
} */

main,
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.icon {
  width: 30px;
  margin-right: 10px;
}


.thumnail {
  width: 50%;
  height: 250px;
  padding: 8px;
  object-fit: cover;

}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-container {
  display: grid;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20 rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.description {
  padding: 2px 16px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: black;
}

.skills {
  background-color: beige;
  width: 100%;
  display: flex;
}

.skills-list {
  list-style: none;
}

.skills-list li {
  display: inline-block;
  margin-right: 8px;
}

.links {
  margin-top: 8px;
}

.links button {
  margin-right: 8px;
  padding: 5px;
  cursor: pointer;
}

.about {
  width: 70vw;
  padding: 8px;

}

.contact-section {
  margin: 10px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
}



.contact-section input,
textarea {
  width: 80vw;
}

.message {
  height: 15rem;
}

nav {
  background-color: cadetblue;
  width: 90vw;
  display: flex;
  justify-content: space-around;
}

nav a {
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;

}